[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
waitress = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
marshmallow = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.8"
